<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user.comment %>
</p>

<p>
  <strong>Subscribe:</strong>
  <%= @user.subscribe %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
